/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require bootstrap-tokenfield
 *= require_self
 *= require jquery-ui


 */

@import 'normalize';
@import "bootstrap-sprockets";
@import "bootstrap";


@mixin box-shadow {
  -webkit-box-shadow: rgba(0, 0, 0, 0.09) 0 2px 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.09) 0 2px 0;
  box-shadow: rgba(0, 0, 0, 0.09) 0 2px 0;
}

html, body {
  font-family: 'Raleway', sans-serif;
  background: rgb(235, 238, 243);
}
 
h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}


.button {
  outline: none;
  background: transparent;
  border: 1px solid #d6dce0;
  padding: .5em 1.5em;
  border-radius: 0.2em;
  &:hover {
    background: transparent;
    border: 1px solid rgb(78,146,224);
    color: rgb(78,146,224);
    a {
      color: rgb(78,146,224) !important;
    }
  }
}

.red {
  color: #ca0271;
}

.green {
  color: #c0c21b;
  font-size:15px;
}

.btn.outline {
  background: none;
  padding: 6px 6px;
}

.btn-green.outline {
  border: 2px solid #c0c21b;
  color: #c0c21b;
}

.btn-green.outline:hover, .btn-green.outline:focus, .btn-green.outline:active, .btn-green.outline.active, .open > .dropdown-toggle.btn-green {
  color: #fff;
  border-color: #c0c21b ;
  background: #c0c21b ;
}
.btn-green.outline:active, .btn-green.outline.active {
  border-color: #c0c21b;
  color: #c0c21b;
  box-shadow: none;
}

.btn-red.outline {
  border: 2px solid #ca0271;
  color: #ca0271;
}

.btn-red.outline:hover, .btn-red.outline:focus, .btn-red.outline:active, .btn-red.outline.active, .open > .dropdown-toggle.btn-red {
  color: #fff;
  border-color: #ca0271;
  background: #ca0271;
}
.btn-red.outline:active, .btn-red.outline.active {
  border-color: #ca0271;
  color: #ca0271;
  box-shadow: none;
}

.btn-grey.outline {
  border: 2px solid #CCCCCC;
  color: #CCCCCC;
}

.btn-grey.outline:hover, .btn-grey.outline:focus, .btn-grey.outline:active, .btn-grey.outline.active, .open > .dropdown-toggle.btn-grey {
  color: #fff;
  border-color: #CCCCCC;
  background: #CCCCCC;
}
.btn-grey.outline:active, .btn-grey.outline.active {
  border-color: #CCCCCC;
  color: #CCCCCC;
  box-shadow: none;
}


.alert-info{
  background-color :#ca0271;
  color:white;
  opacity:0.8;
}




.google-maps {
        position: relative;
        padding-bottom: 75%; // This is the aspect ratio
        height: 0;
        overflow: hidden;
    }
.google-maps iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
}


.attribute {
    height: 35px;
  }

.btn-primary {
    background-color:#c0c21b;
    border-color:#c0c21b;
    text-color:white;
  }



#map-container {
   height: 400px;
   
   margin-top: 25px;
 }
 #map-canvas {
   height: 384px;
   width: 100%;
 }
 

.flash {
  position: relative;
  top:92px;
}

.clearfix:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
 
#main_content {
  
  #header {
    position:fixed;
    width:100%;
    z-index:1;
    opacity:0.95;
    padding: 1.5em 3em;
    border-bottom: 1px solid #F2F2F2;
    background: #fff;
    color: #9eafba;
    
    p {
      display: inline;
    }
   
    .logo {
      color: rgb(78,146,224);
      text-decoration: none;
      font-size: 1.5em;
    }
    .buttons {
      float: right;
      margin-top: -6px;
      .button {
        font-size: .8em;
        margin-left: .5em;
      }
    }

  }

  .post_wrapper {
    position:relative;
    top:50px;
    margin:0px 0px 20px 0px;
    background: white;
    border-radius: 5px;
    @include box-shadow;
    padding: 2em 8%;
    padding-top:10px;
    height:100%;

    .titre {
      height:10px;
      margin-bottom:125px;
     
      
    }
    .title {
       margin-bottom:10px;
    }
}

#post_info, #video, #directions {
  position:relative;
  top:50px;
  background: white;
  @include box-shadow;
  border-radius: 5px;
  padding: 1em 8%;

  .titre {
      height:10px;
      margin-bottom:125px;
    }
}



  #post_content {
    padding: 4em 3em;

    .title {
      font-weight: 500;
      text-decoration: none;
      color: #2a2f35;
      font-size: 2.5em;
      margin-bottom: 0;
    }
   

    .body {

      font-size: 1.1em;
      line-height: 1.35;
      text-align: justify;
    }
   
    #comments {
      h2 {
        margin: 3em 0 1em 0;
        border-bottom: 1px solid #d6dce0;
        padding-bottom: 0.5em;
      }
      h3 {
        margin-top: 2em;
      }
      .comment {
        border-bottom: 1px solid #d6dce0;
        padding: 1.5em 2em;
      }
      .comment_content {
        float: left;
        .comment_name {
          margin: 1em 0 0 0;
          font-size: 0.7em;
          text-transform: uppercase;
        }
        .comment_body {
          font-size: 1.2em;
          margin: 0.2em 0 0 0;
        }
        .comment_time {
           margin-top: 1.2em;
           font-size: .8em;
         }
       }
       .button {
         float: right;
       }
     }
      input[type="text"], textarea {
        width: 50%;
      }
    }
  }
  #page_wrapper {
    padding: 3em;
    #profile_image {
      width: 300px;
      float: left;
      margin-right: 2em;
      img {
        width: 100%;
        border-radius: 0.35em;
      }
    }
    #content {
      h1 {
        font-weight: 500;
      }
      p {
        font-size: 1.1em;
        line-height: 1.75;
      }
     
    }
  }
  .links {
    margin: 2em 0;
  }


 input[type="email"], input[type="password"], textarea {
    width: 50%;
    border: 1px solid #d6dce0;
    border-radius: .35em;
    margin-top: 10px;
    padding: .5em 1em;
    line-height: 1.75;
  }
  input[type="text_field"] {
    height: 35px;
    
  }
  textarea {
    min-height: 180px;
  }
  input[type="submit"] {
    outline: none;
    background: transparent;
    border: 1px solid #d6dce0;
    padding: .5em 1.5em;
    font-size: 1.1em;
    border-radius: 1.5em;
    margin-left: .5em;
    &:hover {
      border: 1px solid #c0c21b;
      color: #c0c21b;
    }
  }


